{%- for interface in interfaces %}
interface {{ interface }}
{%- endfor }
{%- for ip in addresses %}
 ip address {{ ip }}  255.255.255.0
 duplex auto
 speed auto
!
interface Vlan1
 no ip address
 shutdown
!
{%- endfor }
router {{ protocol }}
 network {{ network1 }}
 network {{ network2 }}
